# Root
.vscode

# Frontend
frontend/node_modules
frontend/.DS_Store
frontend/.gitignore
frontend/public/.DS_Store

# Backend
backend/node_modules
backend/npm-debug.log
backend/.gitignore

# misc
.DS_Store
