body {
  background-color: #f1f1f1;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 10px;
  margin: 0 5px 0 5px;
  border: 1px solid white;
  transition: 0.5s;
}

a:hover {
  color: rgb(255, 252, 87);
  border: 1px solid rgb(255, 252, 87);
  box-shadow: 2px 2px 2px;
}

@media screen and (min-width: 1030px) {}