body {
  background-color: #f1f1f1;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 10px;
  margin: 0 5px 0 5px;
  border: 1px solid white;
  box-shadow: 2px 2px;
}

a:hover {
  color: rgb(208, 226, 253);
  border: 1px solid whitesmoke;
}
